@import url('https://www.google.com/maps/place/Asia+Pacific+University+of+Technology+%26+Innovation+(APU)/@3.0554057,101.6979811,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc4abb795025d9:0x1c37182a714ba968!8m2!3d3.0554057!4d101.7005614!16s%2Fm%2F02pkpvv?entry=ttu');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background:linear-gradient(90deg,#3CA6A6 0%,#3CA6A6 30%,#F2E3D5 30%,#F2E3D5 100%);
}
#nav {
    background-color: #F2E3D5; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    display:flex;
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s;
    flex-wrap:wrap;
    z-index:1;
    left:0;
    
  /* Transition effect when sliding down (and up) */
}
#nav a{
    float: left;
    display: block;
    color: #3CA6A6;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
li{
    list-style: none; 
}
#nav a:hover {
    /* Swapping colors */
    color: #FCCD35;
    background-color: #452822;
    font-weight: bold;
    font-size:larger;
    background-color: #F2E3D5;
    color: black;
    
}
#header
{
    display:flex;
    gap:20px ;
    height:100px;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-top:200px;
    color:#3CA6A6;
}
#header img{
    height: 80px;
    width:80px;
}
.contactUs{
    position:relative;
    width:100%;
    padding:40px 100px;
}
.contactUs .title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
}
.contactUs .title h2{
    color:#fff;
    font-weight:500;
}
.box{
    position:relative;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap:20px;
    margin-top:20px;
}
.contact{
    padding:40px;
    background:#fff;
    box-shadow:0 5px 35px rgba(0,0,0,0.15);
}
.form{
    grid-area:form;
}
.info{
    grid-area:info;
}
.map{
    grid-area:map;
}
.contact h3{
    color:#3CA6A6;
    font-weight:500;
    font-size:1.4em;
    margin-bottom:10px;
}
.formBox{
    position:relative;
    width:100%;
}
.formBox .row50{
    display:flex;
    gap:20px;
}
.inputBox{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
    width:50%;
}
.formBox .row100 .inputBox{
    width:100%;
}
.inputBox span{
    color:#3CA6A6;
    margin-top:10px;
    margin-bottom:5px;
    font-weight:500;
}
.inputBox input{
    padding:10px;
    font-size: 1.1em;
    outline:none;
    border:solid 1px #3CA6A6
}
.inputBox textarea{
    padding:10px;
    font-size: 1.1em;
    outline:none;
    border:solid 1px #3CA6A6;
    resize:none;
    min-height:220px;
    margin-bottom:10px;
}
.inputBox input[type="submit"]{
    background:grey;
    color:#FFF;
    border:none;
    font-size:1.1em;
    max-width:120px;
    font-weight:500;
    cursor:pointer;
    padding:14px 15px;
    border-radius:50px;
}
.inputBox input[type="submit"]:hover{
    background:#FF578B;
    color:#FFF;
    border:none;
    font-size:1.1em;
    max-width:120px;
    font-weight:500;
    cursor:pointer;
    padding:14px 15px;
    border-radius:50px;
}

.inputBox ::placeholder{
    color:#999;
}
.info{
    background:#F2E3D5;
}
.info .infoBox div{
    display:flex;
    justify-content: center;
    margin-bottom:10px;
}
.info .infoBox div span{
    background:#3CA6A6;
    min-width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
    border-radius:50%;
    margin-right:10px;
}
.info .infoBox div p{
    font-size:1.1em;
}
.info .infoBox div a{
    text-decoration:none;
    font-size:1.1em;
}
.sci{
    display:flex;
    margin-top:40px;
    justify-content:center;
}
.sci li{
    list-style:none;
    margin-right:15px;
}
.sci li a{
    color:grey;
    font-size:2em;
}
.sci li a:hover{
    color:#3CA6A6;
}
.map{
    padding:0;
}
.map iframe{
    width:100%;
    height:100%;
}
@media(max-width:991px){
    .contactUs{
        padding:20px;

    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height:300px;
        
    }
    .formBox .row50{
        display:flex;
        gap:0;
        flex-direction:column;
    }
    .inputBox{
        display:flex;
        flex-direction:column;
        margin-bottom:10px;
    }
    .contact{
        padding:30px;
    }
    .map{
        min-height:300px;
        padding:30px;
    }
    #header{
        color:#999;
    }
}